config/config.php
*config.ini

.metadata/*

public/mix/*
public/js/ContentFlow/*

public/img/Music/Albums/*
public/img/Music/Artists/*
public/img/TV/SeriesImg/*

public/img/TV/*
public/mix/*
public/css/Mobile/images/*

*tempUploads/
*tmp/

/*~
*~
*.dll

*.o
*.pyc
*.png
*.jpg
*.bmp
*.suo
*.sdf
*.opensdf
*.user
*ipch/
*.settings/
*.so
*.obj
*.log
*.tlog
*.d
*.idb
*.pdb
*.exe
*.exp
*.cache
*.lastbuildstate
*.pch
*unsuccessfulbuild
*.ilk
*.lib
*\CMakeCache.txt
*\install_manifest.txt

*Release/
.DS_Store

arsehole/arseholeCoreModules/CoreModules/Errors/StackWalker/*
arsehole/logs/*
arsehole/log/*
arsehole/Plugins/*

arsehole/bin/libcppnetlib-client-connections\.so\.0

arsehole/bin/libcppnetlib-client-connections\.so\.0\.13\.0

arsehole/bin/libcppnetlib-server-parsers\.so\.0

arsehole/bin/libcppnetlib-server-parsers\.so\.0\.13\.0

arsehole/bin/libcppnetlib-uri\.so\.0

arsehole/bin/libcppnetlib-uri\.so\.0\.13\.0

arsehole/test/\.vscode/launch\.json

arsehole/test/bin/dh2048\.pem

arsehole/test/bin/Server

arsehole/test/bin/server\.pem

arsehole/test/Server

arsehole/arseholeCoreModules/CMakeCache\.txt

arsehole/plugins-dev/Shopping/CMakeCache\.txt

arsehole/bin/

arsehole/arsehole/arsehole


arsehole/SSL_certificate/server\.csr

arsehole/Docker/server\.crt

arsehole/SSL_certificate/server\.pfx

arsehole/SSL_certificate/server\.pem

arsehole/SSL_certificate/server\.crt

arsehole/Docker/server\.pem
