config/config.php
*config.ini

.metadata/*

public/mix/*
public/js/ContentFlow/*

public/img/Music/Albums/*
public/img/Music/Artists/*
public/img/TV/SeriesImg/*

public/img/TV/*
public/mix/*
public/css/Mobile/images/*

*tempUploads/
*tmp/

/*~
*~
*.dll

*.o
*.pyc
*.png
*.jpg
*.bmp
*.suo
*.sdf
*.opensdf
*.user
*ipch/
*.settings/
*.so
*.obj
*.log
*.tlog
*.d
*.idb
*.pdb
*.exe
*.exp
*.cache
*.lastbuildstate
*.pch
*unsuccessfulbuild
*.ilk
*.lib
*\CMakeCache.txt
*\install_manifest.txt

.DS_Store

Arsehole/ArseholeCoreModules/CoreModules/Errors/StackWalker/*
Arsehole/logs/*
Arsehole/log/*
Arsehole/Plugins/*

Arsehole/bin/libcppnetlib-client-connections\.so\.0

Arsehole/bin/libcppnetlib-client-connections\.so\.0\.13\.0

Arsehole/bin/libcppnetlib-server-parsers\.so\.0

Arsehole/bin/libcppnetlib-server-parsers\.so\.0\.13\.0

Arsehole/bin/libcppnetlib-uri\.so\.0

Arsehole/bin/libcppnetlib-uri\.so\.0\.13\.0

Arsehole/test/\.vscode/launch\.json

Arsehole/test/bin/dh2048\.pem

Arsehole/test/bin/Server

Arsehole/test/bin/server\.pem

Arsehole/test/Server

Arsehole/ArseholeCoreModules/CMakeCache\.txt

Arsehole/plugins-dev/Shopping/CMakeCache\.txt

Arsehole/bin/

Arsehole/Arsehole/Arsehole

Arsehole/Arsehole/Arsehole

Arsehole/SSL_certificate/server\.csr

Arsehole/Docker/server\.crt

Arsehole/SSL_certificate/server\.pfx

Arsehole/SSL_certificate/server\.pem

Arsehole/SSL_certificate/server\.crt

Arsehole/Docker/server\.pem

Arsehole/Docker/server\.pem
