*config.php
*config.h

Desktop/public/mix/*
Desktop/config/*
Mobile/config/*
Mobile/public/js/ContentFlow/*

public/img/Music/Albums/*
public/img/Music/Artists/*
public/img/TV/SeriesImg/*

public/img/TV/*
public/mix/*
*tempUploads/

/*~

*.png
*.jpg
*.suo
*.sdf
*.opensdf
*.filters
*.user
*ipch/

.DS_Store

JARVIS/JARVISCoreModules/CoreModules/Errors/StackWalker/*
