#displaybox {
	z-index: 10000;
	filter: alpha(opacity=50); /*older IE*/
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50); /* IE */
	-moz-opacity: .50; /*older Mozilla*/
	-khtml-opacity: 0.5;   /*older Safari*/
	opacity: 0.5;   /*supported by current Mozilla, Safari, and Opera*/
	background-color:#000000;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	text-align:center;
	vertical-align:middle;
}

#innerTable {
	position:fixed;
	z-index: 10001;
	width: 70%;
	height: 300px;
	background-color:#C1C1C1;
	margin: 100px 15%;
}

#backLink 
{
    position:absolute;
    bottom:0;
}