h4
{
	padding: 0px;
	margin-top:0px;
	margin-bottom: 10px;
}

h4.ArtistName
{
	font-weight:bold;
	font-style:italic;
	font-variant:small-caps;
	color:#575757;
	
	letter-spacing:4pt;
	word-spacing:2pt;
	font-size:19px;
	text-align:left;
	font-family:trebuchet MS, sans-serif;line-height:1;
	margin:0px;
}


p.artistInfo
{
	font-weight:bold;
	font-style:italic;
	font-variant:small-caps;
	color:#575757;
	letter-spacing:1pt;
	word-spacing:2pt;
	font-size:8px;
	text-align:left;
	font-family:trebuchet MS, sans-serif;line-height:1;
	margin: 0px;

}



#ArtistList
{
	padding-left:100px;
	height: auto;
	max-height: 200px;
	margin-left:20px;
}


div.artistElement
{
	width:129px;
	height:200px;
	float:left;
	margin:3px;
	padding:5px;
}
div.artistElement:hover 
{
	background-color:#000000;
	
}
