html body
{
	margin:0px;
	padding: 0px;
}

.collapableFolder
{
	width: 50px;
	height: 80%;
	float:left;

}

.collapsableFolderHeader
{
	width: 50px;
	height: 100%;
	float:left;
	background-color:#333333;

	-moz-box-shadow: inset -11px 0 30px -12px #000;
	-webkit-box-shadow: inset -11px 0 30px -12px #000;
	box-shadow: inset -11px 0 30px -12px #000;

	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;

}

.collapsableFolderHeader h4
{
	color:#D0D0D0 ;
	padding-left: 10px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	writing-mode: lr-tb;
}

.collapsableFolderHeader:hover
{
	
	text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff;
}

.pluginHolder
{
	margin-right: 10px;
	margin-top: 5%;
	margin-bottom: 20px;
	width:250px;
	height:90%;
}

.plugin
{
	display:none;
	/*visibility: hidden;*/
	background: #CACACA;
	height:auto;
	width: 200px;
	float:left;

	text-align: center;
	overflow:hidden;
	
	border-bottom: 1px solid black;  
	border-top: 1px solid #3c3c3c; 
	
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px; 
	
}

.plugin h2
{
	color: black;
}

.plugin:hover
{
	background:#8D8D8D;
}

#newFolderName
{
	display: none;
	color:#D0D0D0;
	background: #e9eaee;	
	
	margin-top: 100px;	
	padding: 15px;
	padding-top: 2px;

	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px

}

#controlsPannel
{
	float: right;
	margin-right: 0px;
	background-color:#333333;

	-webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;

	
}

#controlsPannel
{
	color:#D0D0D0 ;
}


#controlsPannel h4
{
	font-size: 30px;
	float:right;
	margin: 10px;
}

#controlsPannel h4:hover
{
	text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff;
}

#controlsPannel h3
{
	color: black;
}
