h4
{
	background-color:#000000;
	border:2px solid;
	border-radius:5px;

	font-family: Verdana;
	color: white;
	text-decoration: none;
	word-spacing: normal;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.7em;
	font-size: 1.4em;
	
	padding: 4px;
}

#seriesTitle
{

	font-family: Verdana;
	color: white;
	text-decoration: none;
	word-spacing: normal;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.7em;
	font-size: 1.4em;
	
	padding: 4px;
}


#pagecontent
{
	width: 100%;
}

#seriesSelection
{
	min-width: 250px;
	width: 25%;
	float: left;
	padding-right:20px;
}

#seasonSelection
{
	width: 60%;
	float: right;


}

#seasonsDiv
{

}

#seriesImage
{
}

#headerDiv
{
	height: 200px;
}

.episode
{
	margin-left: 20px;
	background-color:rgba(50,50,50,0.5);	
	width: 100%;

	
	font-family: Verdana;
	color: white;
	text-decoration: none;
	word-spacing: normal;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.7em;
	font-size: 1.3em;

	margin: 10px;
	border-radius:5px;
	
	border:2px solid;
	border-color: transparent;
}
.episode:hover
{
	border:2px solid;
}
.episodeSelected
{
	border:2px solid;
}
.number
{
	width: 30px;
	float:left;
}

.name
{
	width: 70%;
	float: left;
}


.season
{
	padding: 25px;
}

.seriesLink
{
	color:white;
}

.seriesLinkSelected
{
	color: grey;

}

#seriesSelection
{
	background: rgba(0,0,0,0.6);
	border:2px solid;
	border-radius:5px;
	margin-top: 100px;
	margin-left: 10px;

	font-family: Verdana;
	color: white;
	text-decoration: none;
	word-spacing: normal;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.7em;
	font-size: 0.7em;
}

#seriesSelection a:link
{
	font-family: Verdana;
	color: white;
	text-decoration: none;
	word-spacing: normal;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.7em;
	font-size: 1.5em;
}

#seriesSelection a:hover
{
	color: grey;
}

#seriesContainer
{
	margin-top: 15px;
}
