AddType image/jpeg .jpeg .jpg .jpe .JPG
AddType video/mp4 .mp4 .avi .wmv

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php?url=$1 [PT,L]

</IfModule>
