.ui-page { 
background: #eee;
}


.ui-panel-inner
{
	padding:0px;
	margin: 0px;
}


#songPanel
{
	
}

#songContainer
{
	background-color: argb(0,0,0,0);
	height:600px;
	overflow: scroll;
}


#songInfo
{
	height: 200px;
}

#albumImage
{
	float:left;
}

#currentSongInfo
{
    float:left;
  
}
