html, body
{
	margin:0px;
	padding:0px;
}

#heading
{
	float: left;
	width:89%;
	font-family: times, Times New Roman, times-roman, georgia, serif;
	font-size: 28px;
	line-height: 40px;
	letter-spacing: -1px;
	color:#E0E0E0;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
    font-weight: 20;
	text-align: center;
}



#recentlyAdded
{
	height: 150px;
	width:100%;
	
	
	background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
	
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color:white;
	
}

#playAll
{
	width:9%;
	float: right;
	height:100%;
	
	background: #282828 ;
	border-top-left-radius:20px;
	border-bottom-left-radius:20px;
	border-left-style: solid;
	border-left-width:2px;
	border-left-color:white;
	

	
}

#platAllText
{
	height:50%;
	-webkit-transform: rotate(-90deg); 
	-moz-transform: rotate(-90deg);
	font-size: 18px;
	text-align: center;
	margin-left:40%;
	margin-top:20%;
	color:white;
	
}

#recentlyAddedSongs
{
	width:89%;
	height:110px;
	float: left;
	overflow-x: scroll;
	overflow-y: hidden;
}
#recentlyAddedWrapper
{
	width:1200px;
	height:100%;
	
}

.recentlyAddedSong
{
	color:white;
	height:80%;
	width:100px;
	float: left;
	margin:10px;
	overflow-x: hidden;
	overflow-y: hidden;
	white-space:nowrap;

}

.recentlyAddedSong h4
{
		font-size: 12px;
}

.recentlyAddedSong p
{
		font-size: 8px;
}

::-webkit-scrollbar {
    width: 8px;
	height:8px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
	background-color:rgba(200, 200, 200, 0.5);
}
