body
{
	background-color:#000000;
}



.menuButton
{
	background-image:url('../../public/images/border.png');
	background-repeat: no-repeat;
	margin-top: 5px;
	padding-top: 10px;
	padding-left: 20px;
	height: 50px;
	width: 70%;
}






A:hover
{
background-color: red;
color: red;
}