.elementContainer
{
	background-color : rgba(54,54,50,0.8);
	border-style:solid;
	border-width:2px;
	border-color: black;
	color: white;
}

.header
{
	font-weight:bold;
	font-style:italic;
	font-variant:small-caps;
	
	letter-spacing:4pt;
	word-spacing:2pt;
	font-size:19px;
	text-align:left;
	font-family:trebuchet MS, sans-serif;line-height:1;
	margin:0px;
}

.removeMp3Bttn {
	-moz-box-shadow:inset 0px 1px 0px 0px #000000;
	-webkit-box-shadow:inset 0px 1px 0px 0px #000000;
	box-shadow:inset 0px 1px 0px 0px #000000;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #595959), color-stop(1, #000000) );
	background:-moz-linear-gradient( center top, #595959 5%, #000000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#595959', endColorstr='#000000');
	background-color:#595959;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #000000;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:5px 8px;
	text-decoration:none;
	text-shadow:0px 0px 0px #000000;
}.removeMp3Bttn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #000000), color-stop(1, #595959) );
	background:-moz-linear-gradient( center top, #000000 5%, #595959 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#595959');
	background-color:#000000;
}.removeMp3Bttn:active {
	position:relative;
	top:1px;
}
