#header
{
	background-color: #0c0d0f;
	height:100px;
	background-image:url('../../public/img/Header/header.png');
	background-size:contain;
	background-repeat:no-repeat;
}

#pageContent
{
	width:100%;
	position:absolute;
}


#music
{
	background-color: red;
	height: 50px;
	width: 100px;
	float:right;

}