#header
{
	background-color: black;
	height:100px;
	background-image:url('../../public/img/Header/header.png');
	background-size:contain;
	background-repeat:no-repeat;
}

#pageContent
{
	width:100%;
	position:absolute;
}