

h3
{
	color: WHITE;
}

h4
{
	color : WHITE;
	background-color: #1A1A1A;
	padding-left : 10px;
	margin: 0px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
}

.album
{
	color: WHITE;
	padding: 10px;
	width: 90%;
	height: 80px;
}

.album:hover
{
	background: rgba(50, 50, 50, 0.6);
}

#songSelection
{
	width: 20%;
	float: left;
}

#albumList
{
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(0, 0, 0);
	/* RGBa with 0.6 opacity */
	background: rgba(0, 0, 0, 0.6);
	width: 300px;
	border:2px solid;
	float: left;
	border-radius:25px;
}

#player
{
	float: left;
	width : 70%;
	height : 1000px;
	border: 0px;
	
	
}

.meta
{
	color: grey;
	font-family: sans-serif;
	font-style: normal;
	font-variant: small-caps;
	font-weight: normal;
	font-size: small;
	line-height: 0%;
	word-spacing: normal;
	letter-spacing: normal;
	text-decoration: none;
	text-transform: none;
	text-align: left;
	text-indent: 0ex;
}

.imgCont
{
	float : left;
}

.metaCont
{
	float: left;
}
