#loadedPlugins{
    margin: auto;
    width: 75%;
    padding: 10px;
}

.appCard{
    width:75px;
    padding: 20px;
    display: inline-block;
}

.center{
    margin: 10 auto;
    width: 100%;
    text-align: center;
}

#time{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}

#version{
    position: absolute;
    bottom: 0px;
}