

html
{
	background-image:url('../img/Home/Dark Wood HP9 (6).jpg');
	background-repeat:repeat;
	background-color:#000000;
}

#header
{
	background-color: black;
	height:100px;
	background-image:url('../../public/img/Header/Background.png');
	background-size:contain;
	background-repeat:no-repeat;
}

#pageContent
{
	width:100%;
	position:absolute;
}

