

html
{
	background-image:url('../img/Home/Dark Wood HP9 (6).jpg');
	background-repeat:repeat;
	background-color:#000000;
}

body
{
	margin:0px;
	padding:0px;
	
	
}

#header
{
	background-color: black;
	height:100px;
	background-image:url('../../public/img/Header/Background.png');
	background-size:contain;
	background-repeat:no-repeat;
}

#pageContent
{
	width:100%;
	position:absolute;
}

.headline
{
	font-family: times, Times New Roman, times-roman, georgia, serif;
	font-size: 48px;
    line-height: 40px;
    letter-spacing: -1px;
	color: white;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-weight: 100;

}

.darkGradient
{
background: rgb(0,0,0); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(41,43,45,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(41,43,45,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(41,43,45,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(41,43,45,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(41,43,45,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(41,43,45,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#292b2d',GradientType=0 ); /* IE6-9 */



}

.blackBttn {
	-moz-box-shadow:inset 0px 1px 17px 0px #e6e6e6;
	-webkit-box-shadow:inset 0px 1px 17px 0px #e6e6e6;
	box-shadow:inset 0px 1px 17px 0px #e6e6e6;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #262326), color-stop(1, #000000) );
	background:-moz-linear-gradient( center top, #262326 5%, #000000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#262326', endColorstr='#000000');
	background-color:#262326;
	-moz-border-radius:21px;
	-webkit-border-radius:21px;
	border-radius:21px;
	border:3px solid #3d3d3d;
	display:inline-block;
	color:#fffcff;
	font-family:Arial Black;
	font-size:10px;
	font-weight:bold;
	padding:5px 20px;
	text-decoration:none;
	text-shadow:1px -2px 0px #525152;
}.blackBttn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #000000), color-stop(1, #262326) );
	background:-moz-linear-gradient( center top, #000000 5%, #262326 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#262326');
	background-color:#000000;
}.blackBttn:active {
	position:relative;
	top:1px;
}

