body
{
	background-color:#3a3a3a;

}

#backgroundDisplay {
	z-index: 10000;
	filter: alpha(opacity=50); /*older IE*/
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50); /* IE */
	-moz-opacity: .50; /*older Mozilla*/
	-khtml-opacity: 0.5;   /*older Safari*/
	opacity: 0.5;   /*supported by current Mozilla, Safari, and Opera*/
	background-color:#000000;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	text-align:center;
	vertical-align:middle;
}

#imgCont
{
float:left;
position:relative;
}

#innerTable {
	position:fixed;
	z-index: 10001;
	width: 70%;
	height: 300px;
	background-color:#C1C1C1;
	margin: 100px 15%;
}

#backLink 
{
    position:absolute;
    bottom:0;
}

#metaPanel
{
	float :left;
	width:20%;
}

#menuSelection
{
padding-top: 20px;
padding-bottom: 20px;
float: right;
width: 70%;
background-color:#EAEAEA;
border-radius: 20px;
border-style: solid;
border-width: 1px;

}

.topTile
{
	width: 98%;
	background-color:#1E1E1E;
	color:white;
	margin-left: 1%;
	margin-top:1px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;

	border-style:solid;
	border-width: 1px;
	border-color:white;
	
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	
	font-weight:normal;
	color:#FFFFFF;
	letter-spacing:1pt;
	word-spacing:2pt;
	font-size:17px;
	font-family:arial black, sans-serif;
	line-height:1;
}

.bottomTile
{
	width: 98%;
	background-color:#1E1E1E;
	color:white;
	margin-left: 1%;
	margin-top:1px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;

	border-style:solid;
	border-width: 1px;
	border-color:white;
	
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	
	font-weight:normal;
	color:#FFFFFF;
	letter-spacing:1pt;
	word-spacing:2pt;
	font-size:17px;
	font-family:arial black, sans-serif;
	line-height:1;
}

.tile
{
	width: 98%;
	background-color:#1E1E1E;
	color:white;
	margin-left: 1%;
	margin-top:1px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;

	border-style:solid;
	border-width: 1px;
	border-color:white;
	
	font-weight:normal;
	color:#FFFFFF;
	letter-spacing:1pt;
	word-spacing:2pt;
	font-size:17px;
	font-family:arial black, sans-serif;
	line-height:1;
}

/* If you want you can use font-face */
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('BebasNeue-webfont.eot');
    src: url('BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('BebasNeue-webfont.woff') format('woff'),
         url('BebasNeue-webfont.ttf') format('truetype'),
         url('BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.metaTile 
{
width:100%;
color:white;
background-color: #1E1E1E;
border-radius: 20px;
float: left;
padding: 10px;
border-style: solid;
border-width: 1px;
}

#recentlyAddedTile
{
	margin-top: 30px;
}

#Date { font-family:'BebasNeueRegular', Arial, Helvetica, sans-serif; font-size:16px; text-align:center; text-shadow:0 0 5px black; }

ul { width:100%; margin:0 auto; padding:0px; list-style:none; text-align:center; }
ul li { display:inline; font-size:2em; text-align:center; font-family:'BebasNeueRegular', Arial, Helvetica, sans-serif; text-shadow:0 0 5px black; }

#point { position:relative; -moz-animation:mymove 1s ease infinite; -webkit-animation:mymove 1s ease infinite; }

/* Simple Animation */
@-webkit-keyframes mymove 
{
0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }	
}

@-moz-keyframes mymove 
{
0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }	
}
