
#topMetaHolder
{
	width: 90%;
	margin-left: 5%;
	height: 30%;
}
.clearfix:after{
  clear: both;
  display: block;
  height: 0;
  font-size: 0;
}

#dateHolder
{
	float: left;
	width: 100%;
	color: white;
}

#recentlyAddedTile
{
	color: white;
	width:40%;
	float: left;
}

#metaHeading
{
font-family:'BebasNeueRegular', Arial, Helvetica, sans-serif;
 font-size:16px;
 text-align:left;
}

#metaValue
{
	padding-left: 5em;
}

#CurrentlyDownloadingTile
{
	color: white;
	width:40%;
	float: left;
}

#menuSelection
{
	width: 100%;
	position: absolute;
    bottom: 0px;
	left: 0px;
	height: 70%;
}

.tile
{
	width:100%;
	background-image:url('../../public/img/Home/menuSelectionGradient.png');
	background-repeat: repeat-x;
	background-size:100% 100%;
	color:white;
	text-align: center;
	height: 20%;
	font-family:'BebasNeueRegular', Arial, Helvetica, sans-serif;
	font-size:20px;
	
}

.tile p
{
padding: 0;
margin: 0;
vertical-align:middle;
}



/* If you want you can use font-face */
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('BebasNeue-webfont.eot');
    src: url('BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('BebasNeue-webfont.woff') format('woff'),
         url('BebasNeue-webfont.ttf') format('truetype'),
         url('BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}




#Date { font-family:'BebasNeueRegular', Arial, Helvetica, sans-serif; font-size:12px; text-align:left; text-shadow:0 0 5px black; }

ul {width:100%; margin:0 auto; padding:0px; list-style:none; text-align:left; }
ul li { display:inline; font-size:20px; text-align:left; font-family:'BebasNeueRegular', Arial, Helvetica, sans-serif; text-shadow:0 0 5px black; }

#point { position:relative; -moz-animation:mymove 1s ease infinite; -webkit-animation:mymove 1s ease infinite; }

/* Simple Animation */
@-webkit-keyframes mymove 
{
0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }	
}

@-moz-keyframes mymove 
{
0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }	
}
