body
{
	background-color:#3a3a3a;

}

#backgroundDisplay {
	z-index: 10000;
	filter: alpha(opacity=50); /*older IE*/
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50); /* IE */
	-moz-opacity: .50; /*older Mozilla*/
	-khtml-opacity: 0.5;   /*older Safari*/
	opacity: 0.5;   /*supported by current Mozilla, Safari, and Opera*/
	background-color:#000000;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	text-align:center;
	vertical-align:middle;
}

#imgCont
{
float:left;
position:relative;
}

#innerTable {
	position:fixed;
	z-index: 10001;
	width: 70%;
	height: 300px;
	background-color:#C1C1C1;
	margin: 100px 15%;
}

#backLink 
{
    position:absolute;
    bottom:0;
}

#metaPanel
{
	float :left;
	width:40%;
}

#menuSelection
{
padding-top: 20px;
padding-bottom: 20px;
float: right;
width: 70%;
background-color:#EAEAEA;
border-radius: 20px;
border-style: solid;
border-width: 1px;

}

.topTile
{
	width: 90%;
	background-color:#1E1E1E;
	color:white;
	margin-left: 5%;
	margin-top:1px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;

	border-style:solid;
	border-width: 1px;
	border-color:white;
	
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	
	font-weight:normal;
	color:#FFFFFF;
	letter-spacing:1pt;
	word-spacing:2pt;
	font-size:17px;
	font-family:arial black, sans-serif;
	line-height:1;
}

.bottomTile
{
	width: 90%;
	background-color:#1E1E1E;
	color:white;
	margin-left: 5%;
	margin-top:1px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;

	border-style:solid;
	border-width: 1px;
	border-color:white;
	
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	
	font-weight:normal;
	color:#FFFFFF;
	letter-spacing:1pt;
	word-spacing:2pt;
	font-size:17px;
	font-family:arial black, sans-serif;
	line-height:1;
}

.tile
{
	width: 90%;
	background-color:#1E1E1E;
	color:white;
	margin-left: 5%;
	margin-top:1px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;

	border-style:solid;
	border-width: 1px;
	border-color:white;
	
	font-weight:normal;
	color:#FFFFFF;
	letter-spacing:1pt;
	word-spacing:2pt;
	font-size:17px;
	font-family:arial black, sans-serif;
	line-height:1;
}
