#player
{
	width: 100%;
	height: 100%;
	position: relative;
}


.title
{
		
	color: white;
	width:50%;
	float: left;
}

body {
margin: 0px;
}


#shuffleButton
{
	color:white;
}

#currentSongInfo
{
	top: 0px;
	width:100%;
	height:60px;
	color:white;
}

#center
{
	margin-left:auto;
	margin-right:auto;
	width:200px;
}

#nextBttn
{
	color:white;
}

#audioControls
{
	position: absolute;
	bottom: 120px;
	width:100%;
	
}

#playerControls
{
	position: absolute;
	bottom: 0;
	width:100%;
	height:100px;
}

#nextBttn
{
	float:left;
	width:50px;
}



#shuffleButton
{
	float:right;
	width:50px;
}
#prevBttn
{
	float:left;
	width:50px;
}
#playBttn
{
	width:100px;
	float :left;
	
}

audio 
{
	width: 80%;
	display: block;
	margin-left:10%; 
	margin-right:10%;
}

#currentlyPlaying
{
	position: absolute;
	color: white;
	right:0;
	top:10%;
	width: 40%;
	max-height:70%;
	overflow:auto;
}

#albumImage
{
	float:left;
	width:auto;
	background-color:red;
}

.songItem
{
	background-color: #383838;
	margin-top: 5px;
	padding-top: 3px;
	border-style: solid;
	border-color: white;
	border-width: 1px;
	border-radius:5px; 
}

.songItem:hover
{
	background-color: black;

}

#songHeader
{
	margin-left:auto;
	margin-right:auto;
	width:400px;
	
}

#SongName
{
	float : left;
	
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-weight: bold;
}

#ArtistName
{
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-weight: lighter;
	float : left;
	

}
