#player
{
	width: 100%;
}

.song
{
	width: 100%;
}

.title
{
		
	color: white;
	width:50%;
	float: left;
}

.player
{
	width: 50%;
	float: left;
}


#shuffleButton
{
	color:white;
}

#currentSongInfo
{
	color:white;
}

#nextBttn
{
	color:white;
}

#Albumimgtag
{
	min-height: 300px;
	maz-height: 400px;
}

