

h3
{
	color: WHITE;
}

h4
{
	color : WHITE;
	background-color: #1A1A1A;
	padding-left : 10px;
	margin: 0px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
}



#songSelection
{
	width: 350px;
	float: left;
}



#player
{
	float: left;
	width : 60%;
	height : 100%;
	border: 0px;
	
	
}

.meta
{
	color: grey;
	font-family: sans-serif;
	font-style: normal;
	font-variant: small-caps;
	font-weight: normal;
	font-size: small;
	line-height: 0%;
	word-spacing: normal;
	letter-spacing: normal;
	text-decoration: none;
	text-transform: none;
	text-align: left;
	text-indent: 0ex;
}

.imgCont
{
	float : left;
}

.metaCont
{
	float: left;
}
