#remote
{
	position: fixed;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;	
}

#playbackControl
{
	width: 100%;
	float: left;

}
#replyDiv
{
	float: right;
}

#seek
{
	width: 100%;
	float: left;
}

#Volume
{
	width: 100%;
	float: left;
}

.threePartElement
{
	float: left;
}

.twoPartElement
{
	float: left;
}

